.justify-content-between {
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.input{
    width: 200px;
    height: 20px;
    outline: none;
}
input:focus{
    outline: none;
}
button{
    margin-left: 5px;
}